@model DashboardModel
@{
}

<h1>Dashboard</h1>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Klantnaam</th>
            <th>Productnaam</th>
            <th>Bestelde Hoeveelheid</th>
            <th>Voorraad Over</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DashboardItems)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.StockLeft</td>
            </tr>
        }
    </tbody>
</table>