@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="my-4">Dashboard</h1>

<div class="row">
    <!-- Meest verkochte items -->
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                Meest verkochte items
            </div>
            <div class="card-body">
                <ul>
                    <li>Nebuchadnezzar – 125 stuks verkocht</li>
                    <li>Jack-in Chair – 93 stuks verkocht</li>
                    <li>EMP (Electro-Magnetic Pulse) Device – 89 stuks verkocht</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Dagelijkse bezoeken -->
    <div class="col-md-6 mb-3">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                Dagelijkse bezoeken
            </div>
            <div class="card-body">
                <h4>123</h4>
                <p>bezoeken vandaag</p>
            </div>
        </div>
    </div>

    <!-- Laag op voorraad -->
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-header bg-warning text-white">
                Laag op voorraad
            </div>
            <div class="card-body">
                <ul>
                    <li>EMP (Electro-Magnetic Pulse) Device – 5 op voorraad</li>
                    <li>Jack-in Chair – 3 op voorraad</li>
                    <li>Nebuchadnezzar - 4 op voorraad</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Dagelijkse bestellingen -->
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                Dagelijkse bestellingen
            </div>
            <div class="card-body">
                <h4>37</h4>
                <p>bestellingen vandaag</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 d-flex flex-wrap gap-3">
    <!-- Gaat naar AlleProducten -->
    <a asp-controller="Product" asp-action="AlleProducten" class="btn btn-primary">Bekijk alle producten</a>
</div>


